<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.mperezi.alfred.clone</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>08192DEC-8424-4500-8198-C2F4526827E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B51BB8D-96DF-4A4D-A743-8B09696F20A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2288EBFD-99B5-42B1-A4FC-3666A1E0A408</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4CBA25F-2064-48D9-8241-99B4BD3621F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26090269-5DE9-4134-9EAC-6259F44738B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57E9F230-5FE4-4076-9A81-470297570812</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B51BB8D-96DF-4A4D-A743-8B09696F20A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD53B59E-FB0B-43B1-BA55-4F37E167C17F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55780938-7DD8-4507-9B3C-567A7ABAACB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08192DEC-8424-4500-8198-C2F4526827E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>57E9F230-5FE4-4076-9A81-470297570812</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0B458E8-83CF-4793-8EB4-3FEA86AE288E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D9D1CFBC-376E-4608-9EDC-CFA5347BB9F2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>812E053F-F37B-4A59-B6F7-8B98B04953FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73193C93-51D9-4972-8C15-29E173B224EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55780938-7DD8-4507-9B3C-567A7ABAACB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4CBA25F-2064-48D9-8241-99B4BD3621F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B51BB8D-96DF-4A4D-A743-8B09696F20A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>73193C93-51D9-4972-8C15-29E173B224EE</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Clone with different name</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD53B59E-FB0B-43B1-BA55-4F37E167C17F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF9DBDDA-4C95-4F70-BCD5-341FAC08AAB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>26090269-5DE9-4134-9EAC-6259F44738B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0B458E8-83CF-4793-8EB4-3FEA86AE288E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>321ECACA-9D61-4CBB-9E85-E434A6719431</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0CFE6EC-A434-46BC-AA6F-1094A431798A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2288EBFD-99B5-42B1-A4FC-3666A1E0A408</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mperezi</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Clone git repo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [[ -z ${workspace_dir+x} ]]; then 
	workspace_dir="~"
	workspace_undefined=1
elif [[ ! -d ${workspace_dir/#\~/$HOME} ]]; then
	workspace_dir="~"
	workspace_doesnt_exist=1
fi


[[ $workspace_dir =~ /$ ]] || workspace_dir="${workspace_dir}/"

cat &lt;&lt;EOF
{
  "alfredworkflow": {
    "arg": "$workspace_dir",
    "variables": {
	   "workspace_undefined": "$workspace_undefined",
	   "workspace_doesnt_exist": "$workspace_doesnt_exist"
	}
  }
}
EOF</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3B51BB8D-96DF-4A4D-A743-8B09696F20A5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python src/history.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EF9DBDDA-4C95-4F70-BCD5-341FAC08AAB0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>into</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python src/browse.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CD53B59E-FB0B-43B1-BA55-4F37E167C17F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>clone</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python src/scrape_clipboard.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C4CBA25F-2064-48D9-8241-99B4BD3621F7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>clone</string>
				<key>subtext</key>
				<string>Grab the repo url from the clipboard and browse destination</string>
				<key>text</key>
				<string>Clone git repo</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E0CFE6EC-A434-46BC-AA6F-1094A431798A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>clip0</key>
					<string>{clipboard:0}</string>
					<key>clip1</key>
					<string>{clipboard:1}</string>
					<key>clip2</key>
					<string>{clipboard:2}</string>
					<key>clip3</key>
					<string>{clipboard:3}</string>
					<key>clip4</key>
					<string>{clipboard:4}</string>
					<key>clip5</key>
					<string>{clipboard:5}</string>
					<key>clip6</key>
					<string>{clipboard:6}</string>
					<key>clip7</key>
					<string>{clipboard:7}</string>
					<key>clip8</key>
					<string>{clipboard:8}</string>
					<key>clip9</key>
					<string>{clipboard:9}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2288EBFD-99B5-42B1-A4FC-3666A1E0A408</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>55780938-7DD8-4507-9B3C-567A7ABAACB7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>repo_name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>08192DEC-8424-4500-8198-C2F4526827E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:repo_name}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>73193C93-51D9-4972-8C15-29E173B224EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{var:clone_path}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinterminal</string>
			<key>uid</key>
			<string>321ECACA-9D61-4CBB-9E85-E434A6719431</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Repo cloned to '{var:clone_path}'</string>
				<key>title</key>
				<string>🎉🎉🎉</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E0B458E8-83CF-4793-8EB4-3FEA86AE288E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>err=$(git clone -q "$repo_url" "$clone_path" 2&gt;&amp;1)

if (( $? != 0 )); then
  echo $err
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>26090269-5DE9-4134-9EAC-6259F44738B0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>ok</string>
						<key>uid</key>
						<string>D9D1CFBC-376E-4608-9EDC-CFA5347BB9F2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>fail</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>57E9F230-5FE4-4076-9A81-470297570812</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>😭 Clone failed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>812E053F-F37B-4A59-B6F7-8B98B04953FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>08192DEC-8424-4500-8198-C2F4526827E6</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>2288EBFD-99B5-42B1-A4FC-3666A1E0A408</key>
		<dict>
			<key>note</key>
			<string>set clipboard vars</string>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>26090269-5DE9-4134-9EAC-6259F44738B0</key>
		<dict>
			<key>note</key>
			<string>GIT CLONE</string>
			<key>xpos</key>
			<integer>925</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>321ECACA-9D61-4CBB-9E85-E434A6719431</key>
		<dict>
			<key>xpos</key>
			<integer>1395</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>3B51BB8D-96DF-4A4D-A743-8B09696F20A5</key>
		<dict>
			<key>note</key>
			<string>feed workspace dir</string>
			<key>xpos</key>
			<integer>845</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>55780938-7DD8-4507-9B3C-567A7ABAACB7</key>
		<dict>
			<key>note</key>
			<string>enter new name for repo</string>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>57E9F230-5FE4-4076-9A81-470297570812</key>
		<dict>
			<key>xpos</key>
			<integer>1130</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>73193C93-51D9-4972-8C15-29E173B224EE</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>812E053F-F37B-4A59-B6F7-8B98B04953FC</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>1225</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>C4CBA25F-2064-48D9-8241-99B4BD3621F7</key>
		<dict>
			<key>note</key>
			<string>find valid urls in the clipboard</string>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>CD53B59E-FB0B-43B1-BA55-4F37E167C17F</key>
		<dict>
			<key>note</key>
			<string>browse target dir</string>
			<key>xpos</key>
			<integer>1015</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>E0B458E8-83CF-4793-8EB4-3FEA86AE288E</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>1225</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>E0CFE6EC-A434-46BC-AA6F-1094A431798A</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>EF9DBDDA-4C95-4F70-BCD5-341FAC08AAB0</key>
		<dict>
			<key>note</key>
			<string>update history</string>
			<key>xpos</key>
			<integer>1230</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>workspace_dir</key>
		<string>~/projects</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/mperezi/alfred-git-clone</string>
</dict>
</plist>
